h2#verticalTitle {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.5px;
  color: #5a287d;
  margin-bottom: 9px;
}
#FacetFiltersForm details label .facet-checkbox__text {
  font-size: 0;
}
#FacetFiltersForm details label .facet-checkbox__text-label {
  font-size: 16px;
}
#FacetFiltersForm details {
  border-top: 0;
}
#FacetFiltersForm details label svg {
  display: none;
}
#FacetFiltersForm details label {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #151515;
}
#FacetFiltersForm details label.active {
  color: #5a287d;
}
ul#product-grid li {
  box-shadow: 2px 4px 10px 0px #0000000d;
  border-radius: 17px;
}
